<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username or email</label>
        <input type="text" class="form-control" id="username" required [(ngModel)]="username" name="username"/>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="password" name="password">
        <button type="submit" class="btn btn-success">Log In</button>
    </div>
</form>
<p *ngIf="authenticated">Successfully logged in.</p>
